@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
:root {
  --white: hsl(0, 0%, 100%);
  --nutmeg: hsl(14, 45%, 36%);
  --eggshell: hsl(30, 54%, 90%);
  --light-Grey: hsl(30, 18%, 87%);
  --wenge-Brown: hsl(30, 10%, 34%);
  --rose-White: hsl(330, 100%, 98%);
  --dark-Charcoal: hsl(24, 5%, 18%);
  --dark-Raspberry: hsl(332, 51%, 32%);
}

body {
  display: flex;
  align-items: center;
  padding: 10% 20%;
  justify-content: center;
  color: var(--dark-Charcoal);
  background-color: var(--eggshell);
  font-family: "Outfit", sans-serif;
}

.container {
  border-radius: 20px;
  background-color: var(--white);
  padding: 2rem 2rem 0.6rem 2rem;
}

.content {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.omelette {
  border-radius: 10px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Young Serif", serif;
}

p {
  font-size: 1rem;
}
.preparation {
  padding: 1.5rem;
  background-color: var(--rose-White);
}

.preparation ul {
  list-style-type: disc;
  padding: 0.5rem 0 0 1.5rem;
}

.preparation ul li {
  padding: 0 0 0.6rem 0.6rem;
}

.prepHeading {
  font-weight: 700;
  color: var(--dark-Raspberry);
}

.subHeading {
  font-weight: 600;
  margin-right: 0.5rem;
  color: var(--wenge-Brown);
}

.heading {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--nutmeg);
  font-family: "Young Serif", serif;
}

.ingredients ul {
  margin-top: 1rem;
  padding-left: 1.5rem;
  list-style-type: disc;
}

.ingredients ul li {
  padding-left: 0.6rem;
  padding: 0 0 0.6rem 0.6rem;
}

.hr {
  border-top: 1px solid var(--light-Grey);
}

hr {
  border-top: 1px solid var(--light-Grey);
}

.instructions ul {
  margin-top: 1.5rem;
  padding-left: 1.5rem;
  list-style-type: decimal;
}

.instructions ul li::marker {
  font-weight: 700;
  color: var(--nutmeg);
}

.instructions ul li {
  padding: 0 0 0.7rem 0.6rem;
}

.nutritions {
  gap: 0.6rem;
  display: flex;
  flex-direction: column;
}

.nutritions p {
  margin: 0.7rem 0;
}
.nutritionName {
  width: 6rem;
  margin-left: 2rem;
  display: inline-block;
}
.nutritionValue {
  font-weight: 600;
  margin-left: 13rem;
  color: var(--nutmeg);
}
.attribution {
  font-size: 0.7rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  font-weight: 600;
}

@media (max-width: 600px) {
  body {
    display: block;
    padding: 0;
  }
  h1 {
    font-size: 2rem;
  }

  .heading {
    font-size: 1.4rem;
  }
  .container {
    border-radius: 0;
    padding: 0;
  }
  .content {
    padding: 2rem 2rem 0.6rem 2rem;
  }
  .omelette {
    border-radius: 0;
    padding: 0;
  }

  .nutritionValue {
    margin-left: 7rem;
  }
}

@media (max-width: 368px) {
  .nutritionValue {
    margin-left: 3rem;
  }
}
