@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --cream: hsl(30, 38%, 92%);
  --dark-cyan: hsl(158, 36%, 37%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
}

body {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cream);
  color: var(--dark-grayish-blue);
  font-family: "Montserrat", sans-serif;
}

.container {
  border-radius: 10px;
  background-color: var(--white);
}

.description {
  gap: 10px;
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.image {
  border-radius: 10px 10px 0 0;
}

.title {
  font-size: 14px;
  letter-spacing: 3px;
}

.name {
  font-size: 2rem;
  font-weight: 700;
  color: var(--very-dark-blue);
  font-family: "Fraunces", serif;
}

p {
  font-size: 14px;
}

.prices {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.price {
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-cyan);
  font-family: "Fraunces", serif;
}

.prevPrice {
  text-decoration: line-through;
}

button {
  padding: 1rem;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--dark-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  font-weight: 700;
  color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
  body {
    height: 100vh;
  }
  .container {
    width: 560px;
    height: 460px;
    display: flex;
    min-height: 450px;
  }
  .description {
    gap: 20px;
    width: 50%;
  }

  .image {
    height: 100%;
    border-radius: 10px 0 0 10px;
  }

  .attribution {
    display: flex;
    flex-direction: column;
  }
}
