@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

body {
  font-family: "Figtree", sans-serif;
  background-color: var(--yellow);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 360px;
  min-height: 505px;
  max-height: 514px;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 20px;
  padding-left: 21px;
  padding-top: 21px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 8px 8px;
}

.banner {
  border-radius: 10px;
  max-width: 318px;
}

.cardName {
  border-radius: 5px;
  max-width: 85px;
  max-height: 40px;
  text-align: center;
  padding: 5px 0 5px 0;
  font-weight: 800;
  background-color: var(--yellow);
  display: block;
}

.publishDate {
  font-weight: 500;
}

.heading {
  display: block;
  font-weight: 800;
  margin-top: 5px;
  font-size: 23px;
}

p {
  color: var(--grey);
}

.avatarBox {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  max-width: 35px;
}

.avatarName {
  font-weight: 800;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  cursor: pointer;
  font-weight: 800;
}

@media (max-width: 375px) {
  .container {
    max-width: 280px;
    min-height: 430px;
    max-height: 514px;
    padding-left: 10px;
    padding-top: 10px;
  }

  .banner {
    max-width: 260px;
  }

  .cardName {
    max-width: 72px;
    max-height: 38px;
    font-size: 14px;
    text-align: center;
    padding: 2px 0 2px 0;
  }

  .publishDate {
    font-size: 15px;
  }

  .heading {
    margin-top: 5px;
    font-size: 16px;
  }

  p {
    font-size: 13px;
  }

  .avatarName {
    font-size: 14px;
  }

  .attribution {
    font-size: 10px;
  }
}
